.navbar-login
{
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}